extends ParentTemplate.pug 

block head-extra 
  title cubemoji list

block title 
  h1(class='display-2') cubemoji list
  p This is a list of every emoji available to cubemoji

block content 
  div(class='row')
    div(class='col')
      div(class='alert alert-dark mt-4', role='alert')=`Last updated at ${new Date().toLocaleString('en-US', {timeZoneName: 'long'})}`  

  div(class='row')
    div(class='col')
      div(id='emojis' class='mt-2')
        input(class='search form-control form-control-lg', placeholder='Search')
        div(class='table-responsive')
          table(class='table table-striped')
              thead 
                tr(cursor='row-resize')
                  th(scope='col' class='sort btn-dark' data-sort='name') Name
                  th(scope='col' class='sort btn-dark' data-sort='server') Server
                  th(scope='col' class='sort btn-dark' data-sort='link') Link
                  th(scope='col' class='sort btn-dark' data-sort='id') ID
              tbody(class='list')
                each emote in emotes 
                  tr
                    td(class='name')=emote.name
                    td(class='server')=emote.guildEmoji ? servers.get(emote.guildEmoji.guild.id): 'N/A'
                    td(class='link')
                      a(href=emote.url target='_blank')=emote.url 
                    td(class='id')=emote.id        
          
      

  // list code
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js')

  script. 
    const options = {
      valueNames: ['name', 'server', 'link', 'id']
    };

    const userList = new List('emojis', options);