extends ParentTemplate.pug 

block head-extra
  title cubemoji

block title
  h1(class='display-2') cubemoji

block content
  div(class='row')
    div(class='col' id='content')
      br
      h1 About cubemoji
      p 
        | Welcome to cubemoji, a multi-purpose Discord bot written in JavaScript and separated into several modules with multiple commands. The bot is maintained by cubis and if you would like it on your server, please DM cubis on Discord (cubis#0024). The bot's Discord is available at
        |
        a(href='https://discord.gg/Y6yzKwJUb3') https://discord.gg/Y6yzKwJUb3.
        |
        | Cubemoji has access to emojis on all servers it is added to, in addition to the
        |
        a(href='https://mutant.tech/') Mutant emoji pack

      h2(id='slash') Slash Commands
      p 
        | All commands are implemented using Discord's Slash commands feature which is accessible in chat via
        |
        span(class='font-monospace') /
      
      p 
        | Note that any commands taking in strings for emotes or image do support Discord Nitro emojis except for
        |
        span(class='font-monospace') /info
        |
        | as well as basic unicode emojis in Discord like 🥺.
      
      //- Variable setup for commonly used terms in the list
      - const sourceLabel = '[emote or url to image]'
      - const autoCStr = '[autocompleted string]'
      - const strLabel = '[string]'
      - const servMember = '[server member]'
      - const numLabel = '[number]'
      - const boolLabel = '[boolean]'

      div(class='table-responsive')
        table(class='table table-striped')
          thead 
            tr 
              th(scope='col' class='btn-dark') Command Name 
              th(scope='col' class='btn-dark') Description 
              th(scope='col' class='btn-dark') Syntax 
              th(scope='cole' class='btn-dark') Syntax Notes
            tbody
              tr
                td about
                td Information about the bot
                td /about
                td 
              tr 
                td addface
                td Add silly faces to images 
                td 
                  | /addface
                  |
                  b source:
                  |
                  |
                  i= sourceLabel
                  |
                  |
                  b face:
                  |
                  |
                  i= autoCStr
                td 
              tr 
                td big 
                td Enlarges emoji 
                td 
                  | /big
                  |
                  b emote:
                  |
                  |
                  i #{strLabel} OR
                  |
                  |
                  b member:
                  |
                  |
                  i= servMember
                td Either input emote or member 
              tr 
                td convert 
                td Perform unit conversions in chat 
                td 
                  | /convert
                  |
                  b fromval:
                  |
                  |
                  i= numLabel
                  |
                  |
                  b fromunit:
                  |
                  |
                  i= autoCString
                  |
                  |
                  b tounit:
                  |
                  |
                  i= autoCString
                td
              tr 
                td edit 
                td Edit images 
                td 
                  | /edit
                  |
                  b source:
                  |
                  |
                  i= sourceLabel
                  |
                  |
                  b member:
                  |
                  |
                  i= servMember
                  |
                  |
                  b list:
                  |
                  |
                  i= boolLabel
                  |
                  |
                  b effects:
                  |
                  |
                  i [list of effects, space separated]
                td Choose either source or member or list. Effects param optional, if not specified then cubemoji will choose random effects to apply.
              tr
                td emote 
                td Insert an emote into chat 
                td 
                  | /emote
                  |
                  b emote:
                  |
                  |
                  i= strLabel
                td 
              tr
                td help
                td Guide on cubemoji 
                td /help
                td
              tr
                td info
                td Information about an emote or user, can also help you create role colors using palette creation from images
                td 
                  | /info
                  |
                  b emote:
                  |
                  |
                  i= sourceLabel
                  |
                  |
                  b member:
                  |
                  |
                  i= servMember
                td
              tr 
                td jumbo 
                td Blows up input option bigger than the /big command
                td 
                  | /jumbo
                  |
                  b emote:
                  |
                  |
                  i= sourceLabel
                  |
                  |
                  b member:
                  |
                  |
                  i= servMember
                td Choose emote or member 
              tr
                td list 
                td Get a full list of emoji 
                td 
                  | /list
                  |
                  b subset:
                  |
                  |
                  i [subset of emojis to grab such as only Discord, only Mutant emoji]
                td
              tr
                td random 
                td Insert random emoji
                td 
                  | /random
                  |
                  b items:
                  |
                  |
                  i [number indicating how many random emoji to insert, max 25]
                td 
              tr
                td search 
                td Search for a specific emoji
                td 
                  | /search
                  |
                  b query:
                  |
                  |
                  i= strLabel
                td
              tr
                td uptime 
                td Display current bot uptime
                td /uptime
                td
              tr
                td rescale
                td Rescale an image using Seam carving/content aware image scale
                td 
                  | /rescale
                  |
                  b source:
                  |
                  |
                  i= sourceLabel
                  |
                  |
                  b member
                  |
                  |
                  i= servMember
                td Choose source or member

      h2(id='react') React commands
      p You can use reacts on messages to trigger different bot actions.     

      div(class='table-responsive')  
        table(class='table table-striped')
          thead 
            tr 
              th(scope='col' class='btn-dark') Emote
              th(scope='col' class='btn-dark') Action 
            tbody
              tr 
                td 📏
                td Rescale emote or image in message
              tr 
                td 📷
                td Apply random effects to emote or image in message.
              tr 
                td 🌟
                td 
                  | Save results of edit to
                  |
                  a(href='https://discord.gg/Y6yzKwJUb3') cubemoji best-of channel on cubemoji's Discord server.
              tr
                td 🗑
                td Delete the results of a cubemoji command (if you were the one to initiate the command).

      h2(id='dm') Cubemoji DM Commands
      p If you use a react or menu action on a larger server enrolled in big server mode, you will receive a DM from cubemoji containing your edited image. Included in that are instructions on how to opt out of messages with the dm_opt command.

      h2(id='context') Context Menu Commands
      p Right click a message to use context commands (only works on desktop Discord):
      img(src='/img/context-menu.png' style='max-width:40%;height:auto' alt='Right clicking on Discord menu to show highlighted "Apps" menu with the submenu item "Apply edit to this message"')
      br

      h2(id='moderation') Moderation 
      p 
        | Cubemoji has built-in moderation features to cut down on spam in larger servers. By default, server owners are the only ones who can use moderation commands. However, they can delegate roles to make changes to blocked channels and emotes using the
        |
        span(class='font-monospace')/mod enrollment rolemod
        |
        | command.

      h3(id='block') Channel Blocking 
      p 
        | Channel blocking is enabled irregardless of whether Big Server Mode is enabled. This disables cubemoji from responding to slash commands, menu commands, and reacts in blocked channels. Channels can be blocked and unblocked with
        |
        span(class='font-monospace') /mod blacklist modify action:block/unblock channel: channelname
        |
        img(src='img/channel-block.png', class='img-fluid', alt='Block channels via Slash commands as demonstrated here with a list of channels')
        |
        br

      h3(id='audit') Audit Log 
      p
        | You can specify an audit channel to log changes made to moderation features using
        |
        span(class='font-monospace')/mod enrollment audit


      h3(id='mod-command') Moderation  Commands 

      - const ownerMod = 'Server owner + mod roles'
      - const owner = 'Server owner only'
      - const rolePick = '[role picker]'
      
      div(class='table-responsive')  
        table(class='table table-striped')
          thead 
            tr 
              th(scope='col' class='btn-dark') Command Name
              th(scope='col' class='btn-dark') Description 
              th(scope='col' class='btn-dark') Syntax 
              th(scope='col' class='btn-dark') Syntax Notes
              th(scope='col' class='btn-dark') Permissions 
          tbody 
            tr
              td mod enrollment list 
              td List servers currently enrolled in big server as well as moderator roles, you only see servers you own or are a moderator on.
              td /mod enrollment list
              td 
              td= ownerMod
            tr 
              td mod blocklist modify
              td
                | Block/unblock emoji globs or channels. More info about
                | 
                a(href='https://github.com/micromatch/micromatch#matching-features') glob syntax here
              td
                | /mod blocklist modify
                | 
                b action:
                |
                |
                i [block/unblock]
                |
                |
                b server:
                |
                |
                i [server to block/unblock]
                |
                |
                b glob:
                |
                |
                i [glob of emoji to block/unblock]
                |
                |
                b channel:
                |
                |
                i [channel to block/unblock]
              td
                | Server parameter is optional and if not specified, defaults to current server. Globs must be less than 21 chars.
                | action is required, select glob or channel
              td= ownerMod
            tr
              td mod blocklist list
              td List blocked emoji and channels on this server.
              td /mod blocklist list
              td
              td= ownerMod
            tr
              td mod enrollment rolemod
              td Grant/revoke moderation permissions for a server role
              td
                | /mod enrollment rolemod
                | 
                b action:
                |
                |
                i [grant/revoke]
                |
                |
                b role:
                |
                |
                i= rolePick
              td Both parameters are required
              td= owner
            tr
              td mod enrollment audit
              td Set a channel to log changes
              td
                | /mod enrollment rolemod
                |
                b action:
                |
                |
                i [grant/revoke]
                |
                |
                b role:
                |
                |
                i= rolePicker
              td clear or channel
              td= owner
            tr
              td mod enrollment modify
              td Enroll/unenroll a server into big server mod
              td 
                | /mod enrollment modify
                |
                b action:
                |
                |
                i [unenroll/enroll]
                |
                |
                b server:
                |
                | 
                i [server picker of servers you own]
              td Both params required
              td= owner
        
      h3(id='bulk') Bulk Actions
      p
        | You can perform a bulk action by using the parameter
        | 
        span(class='font-monospace') bulk
        |
        | in 
        |
        span(class='font-monospace') mod blacklist modify.
        | Point this parameter to a plain txt file somewhere publicly accessible on the internet and we will perform the actions specified in the file. Use this syntax:
      
      pre
        code
          | # for globs, you specify the server ID in the 3rd parameter
          | + glob *scream* 803399148237488128   # block emojis matching this glob pattern
          | - glob bl*bby 803399148237488128   # unblock emojis matching this glob pattern
          |
          | + channel 804140986556874782  # block cubemoji from interacting in a channel using ID
          | - channel 829391892126629920  # unblock cubemoji from interacting in a channel
      
      p 
        | You can host your file on a service like
        |
        a(href='https://pastebin.com/') Pastebin
        |
        |
        | or
        |
        a(href='https://gist.github.com/') GitHub Gists
        | .
        | Just ensure you link a raw text file rather than the HTML render by default.

      img(src='img/copy-id.png' class='img-fluid' alt='right click a channel in Discord to copy its ID'  style='max-width:20%;height:auto')

      p To grab the channel ID, ensure you have Developer mode toggled on in Discord settings then right click to copy the ID. These results will be validated against your user ID to ensure you have the permissions to perform this action.