extends ParentTemplate.pug 
block title 
  h1(class='display-2') cubemoji

block content
  div(class='row')
    div(class='col' id='content')
      h1 About cubemoji
      p Welcome to cubemoji, a multi-purpose Discord bot written in JavaScript and separated into several modules with multiple commands. The bot is maintained by cubis and if you would like it on your server, please DM cubis on Discord (cubis#0024). The bot's Discord is available at 
        a(href='https://discord.gg/Y6yzKwJUb3') https://discord.gg/Y6yzKwJUb3
      p Cubemoji has access to emojis on all servers it is added to, in addition to the
        a(href='https://mutant.tech/') Mutant emoji pack

      h2 Commands
      p All commands are implemented using Discord's Slash commands feature which is accessible in chat via
        span(class='font-monospace') /
      
      p Note that any commands taking in strings for emotes or image do support Discord Nitro emojis (except for 
        span(class='font-monospace')/info
      ) as well as basic unicode emojis in Discord like 🥺.
      
      //- Variable setup for commonly used terms in the list
      - const sourceDesc = "[emote or url to image]"
      - const autoCStr = "[autocompleted string]"
      - const strLabel = "[string]"
      - const servMember = "[server member]"
      - const numLabel = "[number]"

      div(class='table-responsive')
        table(class='table table-striped')
          thead 
            tr 
              th(scope='col' class='btn-dark') Command Name 
              th(scope='col' class='btn-dark') Description 
              th(scope='col' class='btn-dark') Syntax 
              th(scope='col' class='btn-dark') Syntax Notes
            tbody
              tr
                td about
                td Information about the bot
                td /about
                //- td 
              tr 
                td addface
                td Add silly faces to images 
                td /addface 
                  b source: 
                  i= sourceDesc
                  b face: 
                  i= autoCString
                //- td 
              tr 
                td big 
                td Enlarges emoji 
                td /big 
                  b emote: 
                  i #{strLabel} OR 
                  b member: 
                  i= servMember
                td Either input emote or member 
              tr 
                td convert 
                td Perform unit conversions in chat 
                td /convert 
                  b fromval: 
                  i= numLabel
                  b fromunit: 
                  i= autoCString
                  b tounit: 
                  i= autoCString
              tr 
                td edit 
                td Edit images 
                td /edit
                  b source:
                  i= sourceDesc
                  b member: 
                  i= servMember
                  b list: 
                  i [boolean]
                  b effects: 
                  i [list of effects, space separated]
                td Choose either source or member or list. Effects param optional, if not specified then cubemoji will choose random effects to apply.
              tr
                td emote 
                td Insert an emote into chat 
                td /emote
                  b emote: 
                  i= strLabel
                //- td 
              tr
                td help 
                td Guide on cubemoji 
                td /help
              tr
                td info
                td Information about an emote or user, can also help you create role colors using palette creation from images
                td /info
                  b emote: 
                  i= sourceDesc
                  b member: 
                  i= servMember
