extends ParentTemplate.pug 

block head-extra 
  title Role Picker 

block title 
  h1(class='display-2') Role Picker 

block content
  // server icon and name card
  div(class='row mt-4')
    div(class='col', id='title')
      div(class='card text-bg-secondary mb-3')
        div(class="row g-0")
          div(class="col-md-auto")
            img(src=serverIcon class="img-fluid rounded-start" alt="Server Icon")
          div(class='col-md')
            div(class='card-body')
              h5(class='card-title')=serverName
              p(class='card-text')
                | Welcome
                |
                b=userNickname
                | .
                |
                | Select your roles below and then click submit at the bottom of the page. This page expires after 20 minutes of its generation. See the amount of time left by going back to Discord and typing /roles

  div(class='row m-2')
    form(action='/submitroles', method='POST')
      // used to validate the POST request
      input(type='hidden' id='serverID' name='serverID' value=serverID)
      input(type='hidden' id='userID' name='userID' value=userID)
      input(type='hidden' id='uniqueID' name='uniqueID' value=uniqueID)

      each category in roleCategories
        div(class='row p-2 rounded border')
          div(class='col')
            // category
            h5=category.name
            p=category.description
            if category.image
              img(src=category.image style='max-width:40%;height:auto' class='img-fluid img-thumbnail mb-5' alt="Category Icon")
            
            div(class='row gy-5 gx-5 align-items-center')
              each role in category.roles
                div( class='col-auto')
                  div(class='form-check form-switch')
                    //- figure out if the user has the role to autocheck the box
                    if userRoles.get(role)
                      input(
                        class='form-check-input'
                        type='checkbox'
                        role='switch'
                        name=role 
                        id=role
                        checked 
                      )
                    else
                      input(
                        class='form-check-input'
                        type='checkbox'
                        role='switch'
                        name=role 
                        id=role
                      )
                    //- use a RoleManager collection here
                    label(
                      class='form-check-label'
                      for=role
                      style=`text-decoration:underline;text-decoration-color:${roleManager.get(role).hexColor}`
                      )=roleManager.get(role).name
      div(class='row p-3')
        div(class='col')
          div(class='d-grid')
            button(type='submit' class='btn btn-primary btn-large') Submit

              

